fastapi
fastapi==0.116.1
h11==0.16.0
numpy
pandas
psutil
pydantic
pydantic==2.11.7
PyJWT
pymongo
python-dotenv
python-dotenv==1.1.1
python-multipart
python-socketio[client]==5.12.1
pytz
redis
requests
requests==2.32.4
starlette==0.47.1
tabulate
uvicorn
uvicorn==0.35.0
